h3 {
    width: 43rem;
    text-align: center;
    letter-spacing: 5px;
    background-color: rgb(142, 253, 147);
    padding: 1rem;
    border: dotted blue 0.1rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    }
p {
  color: blue;
  text-align: center;
  background-color: rgb(201, 249, 190);
  width: 43rem;
  padding: 1rem;
  border: dotted 0.1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
}
.forma {
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
    padding: 2rem;
    border: double blue 0.25rem;
    width: 41rem;
    height: 19rem;
    background-color: rgb(224, 250, 216);
    border-radius: 2rem;
}
.btn {
    margin-left: 0.5rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    background-color: rgb(87, 19, 236);
    border-radius: 1rem;
    }
.btnS {
    margin-left: 0.2rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0.57rem;
    color: white;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 247, 5);
    border-radius: 0.5rem;
}
.btnO {
    margin-left: 1.1rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0.5rem;
    backdrop-filter: blur(10px);
    color: white;
    background-color: rgb(246, 3, 72);
    border-radius: 0.5rem;
}
.btn:hover {
    transition: 0.4s;
    background-color: rgb(108, 253, 111);
    color: rgb(71, 70, 70);
    }
.btnS:hover {
    transition: 0.4s;
    background-color: rgb(108, 253, 111);
    color: rgb(71, 70, 70);
    }
.btnO:hover {
    transition: 0.4s;
    background-color: rgb(108, 253, 111);
    color: rgb(42, 42, 42);
    }
.btn:active {
    background-color: rgb(108, 253, 111);
    box-shadow: 0 5px rgb(184, 184, 184);
    transform: translateY(4px);
  }
.btnS:active {
    background-color: rgb(108, 253, 111);
    box-shadow: 0 5px rgb(184, 184, 184);
    transform: translateY(4px);
  }
.btnO:active {
    color: white;
    background-color: rgb(246, 3, 72);
    box-shadow: 0 5px rgb(184, 184, 184);
    transform: translateY(4px);
  }
.btnRS {
    margin-left: 0.2rem;
    margin-right: .2rem;
    align-self: center;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0.5rem;
    backdrop-filter: blur(10px);
    background-color: rgb(250, 140, 222);
    border-radius: 0.5rem;
}
 .btnRS:hover {
    transition: 0.4s;
    background-color: rgb(108, 253, 111);
    color: rgb(71, 70, 70);
    }
.btnRS:active {
    background-color: rgb(108, 253, 111);
    box-shadow: 0 5px rgb(184, 184, 184);
    transform: translateY(4px);
      }   
.rezultat {
    width: 13rem;
}
.autor {
    font: 50%;
    color: rgb(0, 0, 255);
    margin-left: 31rem;
    }

input {
  margin: 0.3rem;
  box-shadow: 0 0 0.2rem rgba(183, 183, 183, 0.993) inset;
  }
label {
  background-color: rgb(182, 255, 153);
  margin: 0.5rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.2rem rgba(0, 255, 153, 0.993) inset;
}
.left {
    margin-left: 0rem;
}
.radDeg {
    width: 17rem;
    margin-top: -3.5rem;
    margin-left: 22rem;
   }
.base {
    display: inline-flex;
    margin-left: 2rem;
}
#info {
    background-color: rgb(3, 255, 242);
    padding: 0.5rem;
    border-radius: 0.5rem;
}
